nav {
  background-color: #0065DC;
  padding: 2.5rem 1.6rem;
}

ul {
  display: flex;

  li {
    list-style: none;
  }

  li + li {
    margin-left: 1.6rem;
  }

  li a {
    text-decoration: none;
    color: #FBFCFE;

    &:hover {
      text-decoration: underline;
    }
  }
}